* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    position: relative; /* Adicione isso se não tiver */
}

.container {
    width: 80%; /* Ajuste para uma largura responsiva */
    max-width: 1286px; /* Limite máximo */
    height: 238px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 5px 10px #888;
}

.container-posters {
    width: 80%; /* Ajuste para uma largura responsiva */
    max-width: 753px; /* Limite máximo */
    height: 653px;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: 75%;
    left: 32%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%);
}

.slides {
    display: flex;
    width: 300%;
    height: 100%; 
    transition: margin-left 0.6s;
}

.slides input {
    display: none;
}

.imagens {
    width: 33,33%;
    transition: .6s;
}

.imagens img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navigation {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    z-index: 10;
}

.navigation .nav {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #888; 
    margin: 6px;
    cursor: pointer;
    transition: .9s;
}

.navigation .nav:hover {
    background: #fff;
    border: 2px solid #fff;
}

#radio-1:checked ~ .one {
    margin-left: 0;
}
#radio-2:checked ~ .one {
    margin-left: -33.33%;
}
#radio-3:checked ~ .one {
    margin-left: -66.67%;
}